<h2>Movie details</h2>

<hr>

    <div>
        <h3>{{title}}</h3>
        <p class="genre">{{genre}}</p>
        <h4>Description</h4>
        <p>{{plot}}</p>
        <h4>Starred by:</h4>
        {{#each cast}}
            <p><b>{{name}}:</b> <i>{{catchPhrase}}</i></p>
            <p>{{occupation}}</p>
            <hr>
        {{/each}}

        <form action="/movies/{{_id}}/edit" method="GET">
            <button type="submit" class="button">Edit this movie</button>
        </form>

        <form action="/movies/{{_id}}/delete" method="POST">
            <button type="submit" class="button delete">Delete this movie</button>
        </form>

    </div>
